/*Header*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: red;
}

/*Nav-bar*/
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar-menu{
    display: flex;
    gap: 24px;
}

.navbar-menu a {
    font-family: var(--font-secundary);
    text-transform: uppercase;
}
.navbar-menu a:hover{
    color: red;
}
.hero {
    height: 100vh;
    min-height: 700px;
    background-image: url("/assets/hero\ picture.jpeg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: center     ;
}

.hero-content {
    width: 50%;
    background-color: aqua;
}